[submodule "AutoGaze"]
	path = AutoGaze
	url = https://github.com/Jaewoo97/AutoGaze_jw.git

[submodule "hand_object_detector"]
	path = hand_object_detector
	url = https://github.com/ddshan/hand_object_detector.git
[submodule "Talk2DINO"]
	path = Talk2DINO
	url = https://github.com/lorebianchi98/Talk2DINO.git
